language: dart

dart:
  - stable
  - dev

before_script:
#  - pub run build_runner build --delete-conflicting-outputs
#  - git diff --exit-code
  - pub run dart_dev analyze
  - pub run dart_dev format --check
  - pub run dependency_validator --no-fatal-pins -i analyzer,build_runner,build_web_compilers,built_value_generator
  - cd tools/analyzer_plugin
  - pub get
  - pub run dart_dev analyze
  - pub run dart_dev format --check
  - pub run dependency_validator --no-fatal-pins

script:
  - pub run dart_dev test -P vm
  - pub run dart_dev test -P dartdevc
  - pub run dart_dev test --build-args="-r" -P dart2js

cache:
  directories:
   - $HOME/.pub-cache
   - $HOME/.dart_tool/build
