---
data_id: list_group
layout: demo
slug: list-group
parent_slug: demos
baseurl: ../../
---

{% include site_vars.html %}

<h2 id="contents" class="docs-heading">Contents</h2>

<ul id="demo-toc">
    <li>
        <a href="#basic-example">Basic example</a>
    </li>
    <li>
        <a href="#tags">Tags</a>
    </li>
    <li>
        <a href="#anchors-and-buttons">Anchors and buttons</a>
    </li>
    <li>
        <a href="#contextual-skins">Contextual skins</a>
    </li>
    <li>
        <a href="#headers">Headers</a>
    </li>
</ul>


<h2 id="basic-example" class="docs-heading">Basic example</h2>
<p>The most basic <code>{{demo_data.component_class}}</code> component is simply list <code>{{demo_data.secondary_component_class}}</code> components.</p>
<p>The components encapsulate the complexity of the underlying HTML, ensuring that all the
    default CSS classes and other HTML attributes are present, leaving you with minimal markup.</p>
{% include demo-code-example.html
    name='list-group-basic'
    consumption_code_file_name='list-group-basic'
    component_file_name=page.data_id
    component_name=demo_data.component_class
    component_two_file_name='list_group_item'
    component_two_name=demo_data.secondary_component_class
%}


<h2 id="tags" class="docs-heading">Tags</h2>
<p>Nest a <code><a href="../tag/">Tag</a></code> component within any `{{demo_data.secondary_component_class}}` to show unread counts, activity,
    etc.</p>
{% include demo-code-example.html
    name='list-group-tags'
    consumption_code_file_name='list-group-tags'
%}


<h2 id="anchors-and-buttons" class="docs-heading">Anchors and buttons</h2>
<p>Set <code>props.onClick</code> to render an HTML <code>&lt;button&gt;</code> element, or <code>props.href</code>
    to render an HTML <code>&lt;a&gt;</code> element with hover, disabled, and active states.</p>
<p>Set <code>props.isDisabled</code> to disable an item, and <code>props.isActive</code>
    to make an item appear active.</p>
{% include demo-code-example.html
    name='list-group-anchors-and-buttons'
    consumption_code_file_name='list-group-anchors-and-buttons'
%}


<h2 id="contextual-skins" class="docs-heading">Contextual skins</h2>
<p>Set <code>props.skin</code> to style a <code>{{demo_data.secondary_component_class}}</code> using contextual colors.</p>
{% include demo-code-example.html
    name='list-group-contextual'
    consumption_code_file_name='list-group-contextual'
%}

<h2 id="headers" class="docs-heading">Headers</h2>
<p>Set <code>props.header</code> to render a <code>{{demo_data.secondary_component_class}}</code> that has a distinct header and body content
    region.</p>

<p>Optionally, set <code>props.headerSize</code> to modify the size of the header itself.</p>
{% include demo-code-example.html
    name='list-group-header'
    consumption_code_file_name='list-group-header'
%}
