# THIS FILE MUST REMAIN EMPTY.
# Having a .pubignore in a directory causes Pub to not take any .gitignore in the same directory into account when
# ignoring files, and we want to avoid files appearing to be ignored but then acciddentially getting published.
# Instead, place any ignores for this directory inside this repo's top-level `.gitignore`.
