name: over_react_analyzer_plugin
version: 0.1.0
publish_to: none
description: Dart analyzer plugin for OverReact
repository: https://github.com/Workiva/over_react/tree/master/tools/analyzer_plugin
environment:
  sdk: '>=2.7.0 <3.0.0'
dependencies:
  analyzer: '^0.39.10'
  analyzer_plugin: '^0.2.4'
  collection: ^1.14.0
  # Upon release, this should be pinned to the over_react version from ../../pubspec.yaml
  # so that it always resolves to the same version of over_react that the user has pulled in,
  # and thus has the same boilerplate parsing code that's running in the builder.
  version: 3.5.4+link-test
  meta: ^1.1.6
  path: ^1.5.1
  source_span: ^1.7.0
dev_dependencies:
  build_runner: ^1.0.0
  build_test: ^1.0.0
  build_vm_compilers: ^1.0.0
  convert: ^2.1.1
  crypto: ^2.1.5
  dart_dev: ^3.0.0
  dependency_validator: ^1.4.0
  glob: ^1.2.0
  io: ^0.3.2+1
  logging: ">=0.11.3+2 <1.0.0"
  test: ^1.0.0
  workiva_analysis_options: ^1.1.0
  yaml: ^2.2.1

# If you're developing on changes in over_react that the analyzer plugin needs to consume,
# point to the local copy of over_react. This must be an absolute path.
#
# In CI, this should also be the path to the over_react checkout
#
# dependency_overrides:
#   over_react:
#     path: /Users/me/workspaces/over_react
