.logo-text {
  color: $dart-blue;
  fill: $dart-blue;
  letter-spacing: -.02rem;
  font-weight: 400;
  vertical-align: middle;
}

.logo-text--light {
  color: $dart-blue-light;
  fill: $dart-blue-light;
  font-weight: 300;
}

.text--white {
  color: white;
}

.icon {
    width: to-rem(16px);
    height: to-rem(16px);

    path {
        fill: currentColor;
    }
}

.nav-link .d-flex {
  line-height: 1;
}

.bd-content {
    .docs-heading {
        color: $gray-dark;
    }

    > h2.docs-heading:not(:first-child) {
        margin-top: 3rem;
    }

    > h3.docs-heading {
        margin-top: 1.5rem;
    }
}
