.d-flex {
  @include display-flex();
}

// Can't believe the bootstrap grid doesn't have this stuff!!?
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .d-flex-#{$breakpoint} {
      @include display-flex();
    }

    .col-#{$breakpoint}-shrink {
      @include display-flex();
      @include flex(0 0 auto);
      max-width: none;
      width: auto;
    }

    @each $position in 1 2 3 4 5 6 {
      .col-order-#{$breakpoint}-#{$position} {
        order: $position;
        -ms-flex-order: $position; // MSIE 10
      }
    }

    .row-#{$breakpoint}-nowrap {
      @include flex-wrap(nowrap);
    }

    .row-#{$breakpoint}-wrap {
      @include flex-wrap(wrap);
    }
  }
}
